__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.env
.venv
ENV/
env.bak/
venv.bak/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

build/
dist/
*.spec

*.log
*.err

*.local
*.ini
*.cfg
config.py
config.json

resource.o
MineCodes.exe